<!DOCTYPE html>
<html lang="ru">
<head>
{% block head %}
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ title }}</title>

{% endblock %}
</head>
<body>
{% block page %}
	{% block header %}
		{% include '../partials/header.twig' %}
	{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}
		{% include '../partials/footer.twig' %}
	{% endblock %}
{% endblock %}
</body>
</html>
