{% extends "layout/base.twig" %}

{% set title = "PEPELAC" %}

{% block page %}
	<section class="bg-light py-4 min-vh-100">
		<div class="container">
			<div class="row">
				<div class="col-12 mt-10">
					<a href="https://zencod.ru/tools/" target="_blank" class="d-block">
						<svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3806 1024">
							<path fill="#87A330" d="M3457.18 702.846q47.17 26.66 113.23 26.66 34.13 0 67.39-9.229 33.4-9.375 57.42-26.806 13.77-10.108 16.11-23.291 2.49-13.33-3.81-24.317-6.3-11.133-18.89-14.648-12.6-3.662-28.86 6.445-19.78 12.012-42.04 17.725-22.12 5.713-44.97 5.713-64.16 0-97.85-38.965-33.55-38.965-33.55-110.449 0-71.338 33.55-110.01 33.69-38.819 97.85-38.819 22.26 0 43.8 5.42 21.68 5.42 40.28 17.432 16.11 10.84 29.3 6.885 13.33-3.955 19.92-15.528 6.59-11.718 3.51-25.781-2.93-14.209-18.6-24.316-24.02-15.674-55.81-24.024-31.79-8.496-64.75-8.496-66.06 0-113.23 26.807-47.02 26.66-72.22 75.293-25.19 48.486-25.19 115.137 0 66.65 25.19 115.576 25.2 48.779 72.22 75.586Zm-525.79 25.488q-20.95 0-30.03-14.355-8.94-14.502.58-34.864l158.5-350.976q7.76-17.432 18.9-24.903 11.13-7.47 25.49-7.47 13.76 0 24.9 7.47 11.13 7.471 18.89 24.903l158.94 350.976q9.67 20.947 1.17 35.156-8.35 14.063-28.71 14.063-16.85 0-26.22-8.057-9.23-8.203-16.41-25.048l-30.03-69.581h-206.39l-29.45 69.581q-7.76 17.431-16.11 25.341-8.35 7.764-24.02 7.764Zm-341.45-44.385q0 39.551 39.11 39.551h211.82q33.54 0 33.54-32.959 0-32.373-33.54-32.373h-174.03V337.66q0-38.965-38.37-38.965-38.53 0-38.53 38.965v346.289Zm-1460.272 44.385q-38.525 0-38.525-39.697V339.564q0-39.111 39.11-39.111h144.581q69.58 0 107.373 34.863Q1420 370.033 1420 432.436q0 62.402-37.793 97.558-37.793 35.156-107.373 35.156h-106.787v123.487q0 39.697-38.379 39.697Zm393.543-4.834q-40.869 0-40.869-40.869V341.322q0-40.869 40.869-40.869h214.16q31.201 0 31.201 30.029 0 31.202-31.201 31.202H1556.17v116.455h168.018q31.201 0 31.201 30.615t-31.201 30.615H1556.17V662.27h181.201q31.201 0 31.201 30.615t-31.201 30.615h-214.16Zm317.33-34.863q0 39.697 38.526 39.697 38.379 0 38.379-39.697V565.15h106.787q69.577 0 107.377-35.156 37.79-35.156 37.79-97.558 0-62.403-37.79-97.12-37.8-34.863-107.377-34.863h-144.58q-39.112 0-39.112 39.111v349.073ZM2272.61 723.5q-40.87 0-40.87-40.869V341.322q0-40.869 40.87-40.869h214.16q31.2 0 31.2 30.029 0 31.202-31.2 31.202h-181.2v116.455h168.02q31.2 0 31.2 30.615t-31.2 30.615h-168.02V662.27h181.2q31.2 0 31.2 30.615t-31.2 30.615h-214.16ZM1168.047 504.506h94.775q82.764 0 82.764-72.07 0-71.338-82.764-71.338h-94.775v143.408Zm844.174 0h-94.775V361.098h94.775q82.759 0 82.759 71.338 0 72.07-82.759 72.07ZM3103.65 383.949l-76.32 180.615H3181l-76.17-180.615h-1.18Z"/>
							<path fill="#87A330" fill-rule="evenodd" d="M753.535 517.319c13.858 0 23.638-13.507 19.337-26.695-5.224-16.056-15.195-38.451-34.182-64.574-23.191-31.888-52.913-47.752-69.224-54.57-7.295-3.058-12.105-10.162-12.392-18.062-1.306-36.062-7.964-135.804-41.923-209.743-26.154-56.896-67.026-102.005-88.529-123.38-7.901-7.9-20.707-7.9-28.639 0-21.472 21.375-62.344 66.484-88.498 123.38-33.959 73.939-40.648 173.681-41.955 209.743-.287 7.9-5.065 15.004-12.36 18.062-16.311 6.818-46.032 22.682-69.224 54.57-18.986 26.123-28.958 48.518-34.182 64.574-4.301 13.188 5.479 26.695 19.337 26.695h123.667c11.245 0 20.356 9.111 20.356 20.357 0 11.213 9.111 20.324 20.357 20.324h153.675c11.246 0 20.357-9.111 20.357-20.324 0-11.246 9.111-20.357 20.356-20.357h123.667"/>
							<path fill="#CAD593" fill-rule="evenodd" d="m891.161 192.722-152.722-88.17c11.666 30.531 21.746 64.617 29.41 102.589l86.241 49.786c23.9 13.799 45.669 51.504 45.669 79.105v341.715c0 27.599-21.769 65.303-45.669 79.102l-30.781 17.776c-114.498 66.103-231.119-84.03-248.714-197.227a302.762 302.762 0 0 0-61.931-6.4 302.574 302.574 0 0 0-62.272 6.469c-17.636 113.185-134.227 263.247-248.703 197.158l-30.783-17.776c-23.906-13.799-45.67-51.503-45.67-79.102V336.032c0-27.601 21.764-65.306 45.67-79.105l86.633-50.03c7.684-37.986 17.776-72.075 29.459-102.609l-153.161 88.434C87.44 219.509 51.1 282.458 51.1 336.032v341.715c0 53.571 36.34 116.523 82.737 143.304l295.918 170.857c23.197 13.392 52.968 20.092 82.74 20.092 29.769 0 59.543-6.7 82.737-20.092l295.929-170.857c46.392-26.786 82.737-89.733 82.737-143.304V336.032c0-53.574-36.345-116.52-82.737-143.31Z"/>
						</svg>
					</a>
				</div>
				<div class="col-12 d-flex justify-content-center mt-7">
					<div class="d-inline-block text-center p-4 bg-black bg-opacity-10 text-secondary rounded-3 shadow-sm">
						<div class="h5 mb-3">Проект запущен в <code class="text-danger">{{ mode.type }}</code> режиме.</div>
						<div>Для редактирования текста из режима <b>{{ mode.type }}</b> откройте файл <code class="text-danger">{{ mode.path }}</code></div>
						<div class="mt-2">Для редактирования данных выводимых в режимах <b>Developer</b> и <b>Production</b> откройте файл <code class="text-danger">{{ site.path }}</code></div>
						<div class="mt-5 d-flex gap-2 justify-content-center d-none" data-desc="Чтобы включить темную тему, добавьте импорты dark-mode в index.js и index.scss">
							<button class="btn btn-outline-secondary js--toggle-theme">Переключить тему</button>
							<button class="btn btn-outline-success js--toggle-theme" data-system-theme="true">Включить системную тему</button>
						</div>
					</div>
				</div>
				<div class="col-12 text-center mt-5">
					<a href="https://github.com/alexsoin/" class="text-secondary" target="_blank">
						<svg height="32" viewBox="0 0 16 16" version="1.1" width="32">
							<path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
