{% extends "layout/base.twig" %}

{% set title = "Оооёй, это ж главная страница!" %}
 
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="demo">
					<img src="assets/img/rick.png">
					<h2 class="text-dark my-5">Ваба лаба даб даб!!! <br>Вот и новая верстка подъехала, Морти!</h2>
					<p class="text-warning">И ты запустил сайт в {{ mode.type }} режиме!!!</p>
					<p class="text-secondary">{{ site.title }}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}