<div class="container">
	<div class="row">
		<div class="col-12">
			<header class="py-5 text-center">
				<h1 class="d-inline-block border border-dark border-2 rounded py-2 px-4 text-dark">{{ title }}</h1>
				<div>
					<a class="text-dark small" href="ui.html">Открыть список страниц</a>
				</div>
			</header>
		</div>
	</div>
</div>
